body{
        background-color: #fcf7ef!important;
    }
    .sidebar{
        background-color: #111;
    }

    .sidebar a{
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 14px;
        color: #818181;
    }

    .menu{ 
       margin-top: 20px; 
    } 

    .saved{
        font-size: 12px;
    }
     .total{
        display: flex;
        justify-content: center;
        align-items: left;
        line-height: 80%;
        background-color: #fcf7ef;
        width: 250px;
        padding: 25px 20px 10px 20px;
        margin-bottom: 15px;
        border-radius: 15px;
    } 

    .ball{
        font-size: 150px;
    }

    .entertainment{
        width: 120px;
    }

    .chart{
        display: block;
        text-align: left;
    }

    .emma{
        width: 25px;
        border-radius: 50px;
    }

    .august{
        font-size: 12px;
    }

    .line{
       opacity: 0.1;
        width: 500px;   
    }

    .paid{
        background-color: #fcf7ef;
        padding: 10px 5px 10px 5px; 
        border-radius: 10px; 
        font-size: 12px;
    }
