body{
        background-color: #fcf7ef!important;
        margin: 0;
        padding: 0;
        
    }
    .sidebar{
        background-color: #111;
    }

    .sidebar a{
        padding: 6px 8px 6px 16px;
        text-decoration: none;
        font-size: 14px;
        color: #818181;
    }

    .saved{
        font-size: 12px;
    }
    
    .ball{
        font-size: 180px;
    }

    .emma{
        width: 25px;
        border-radius: 50px;
    }

    .august{
        font-size: 12px;
    }

    .line{
       opacity: 0.1;
        /* width: 500px;    */
    }

    .paid{
        background-color: #fcf7ef;
        padding: 10px 5px 10px 5px; 
        border-radius: 10px; 
        font-size: 12px;
    }


